.svg_map {
    position: relative;
    width: 100%;
    height: 300px;
}

.svg_map svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.svg_map path {
    fill: white;
    stroke-width: .2%;
    stroke: black;
    opacity: 1;
}

.svg_map path:hover {
    fill: gray;
    stroke-width: .5%;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    font: 12px sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    background: lightgray;
    border: 1px solid grey;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
}

.tools {
    opacity: .94;
    position: absolute;
    font: 1.1em sans-serif;
    padding: 10px;
    margin: 5px;
    background: lightgray;
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;
}

.tools > DIV:hover {
    opacity: 1;
    font: 1.2em sans-serif;
}